body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-size: 20px;
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
nav {
    color: black;
    padding: 20px;
}
hr {
    border-radius: 15px;
    background-color: black;
    border: 2px solid black;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    background-color: black;
    padding: 10px;
}
footer fieldset {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid white;
}
footer fieldset legend {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px 0 10px;
}
footer form input {
    background: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}
::placeholder {
    color: whitesmoke;
    font-size: 15px;
}
textarea {
    width: 90%;
    height: 150px;
    background: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    resize: vertical;
    padding: 5px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
::-webkit-scrollbar {
    width: 7px;
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
    background-color: black;
}
.title {
    margin: 0;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lineTitle {
    border-radius: 15px;
    background-color: black;
    border: 3px solid black;
    width: 55%;
    float: left;
    margin: 0;
    margin-bottom: 20px;
}
.welcome {
    margin-left: 250px;
}
.chenge {
    color: rgb(185, 5, 5);
}
.menu {
    float: right;
    margin: 0;
}
.menu li {
    color: black;
}
.itens {
    list-style: none;
    display: inline-block;
    color: rgba(247, 245, 245, 0.877);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-left: 5px;
    padding-right: 5px;
}
.clear {
    clear: both;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.about {
    text-align: right;
    color: black;
    margin-top: 10px;
    width: 60%;
    float: right;
}
.projectImg {
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px black;
}
.projectImg:hover {
    transform: translateY( -5px);
}
.imgLink {
    max-width: 30px;
    max-height: auto;
    border-radius: 100%;
    background-color: white;
}
.containerImg {
    width: 25%;
    height: 100%;
    float: left;
    padding-left: 10%;
}
.foton {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid black;
    object-fit: cover;
}
.colForm {
    width: 45%;
    float: left;
    color: white;
    padding: 20px;
}
.btn {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 7px 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn:hover {
    background-color: black;
    box-shadow: 5px 5px 10px black;
    color: white;
}
.btnFooter {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 7px 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.btnFooter:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.imgLinkFooter {
    max-width: 100px;
    max-height: 100px;
}
.imgLinkFooter:hover {
    max-width: 105px;
    max-height: 105px;
}